*{
    margin: 0;
    padding: 0;

}

#above-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #a6fff8;
}

#head-content p img{
  transform: translateY(6px);
}

#head-content p{
    font-size:1.1rem;
    margin: 2px;
    padding-bottom: 9px;
}

#link-1{
    text-decoration: none;
    color: #397070;
}

/* header part */
#main-container {
    display: flex;
    flex-direction: row;
    padding: 0px 60px 0 60px;
    margin: 1rem 0 1rem 0;
}

#left-items{
    display: flex;
    flex-direction: row;
    width: 55rem;
}

#navbar ul{
    display: flex;
    flex-direction: row;
  

}
#navbar{
    margin-top: 0.5rem;
    margin-right: 1rem;
    margin-bottom: 0.5rem;
    display:flex;
}

#navbar ul li{
    font-size:1.1rem;
    list-style: none;
    align-items: center;
    padding-bottom: 1rem;
    margin-top: 1rem;
    margin-right: 1rem;
    cursor: pointer;
    color: gray;
}

#logo{
    text-align: center;
    padding-top: 0.2rem;
    margin-right: 3rem;
    font-size: 2.6rem;
}
    
#number{
    padding-bottom: 1rem;
    margin-top: 1rem;
    margin-right: 1.5rem;
    cursor: pointer;
    /* display: inline-block; */

}

#right-items{
   
    margin-top: 1rem;
    transform: translateY(-9px);
    width: 41.3rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size:1.1rem;
}
#right-items a{
    padding-bottom: 1rem;
    margin-top: 1rem;
    margin-right: 1.5rem;
    text-decoration: none;
    color: black;
}

#right-items i{
    margin-left: 1rem;
}

/* section-1 */
#section-1{
    display: flex;
}

#sectional-division{
    display: flex;
    flex-direction: row;
    padding-left: 2.8rem;
    padding-right: 2.8rem;
   
}

#search-form{
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-right: 2rem;
}
#input-group{
    display: flex;
    flex-direction: row;

}

#search{
    padding: 1rem 0 1rem 1rem;
    width: 35rem;
    background-color:#ebebeb;
    border: 2px solid #ebebeb;
    font-size:1.1rem;
    
    
}

#input-group{
    width: 50rem;
}
#search::placeholder{
    font-weight: 400;
    color: rgb(112 112 112);
}

#search-btn{
    padding: 1rem 2rem 1rem 2rem;
    background-color:#00838c;
    color: white;
    font-weight: 500;
    border: 2px solid #00838c;
    font-size:1.1rem;
}

#pricing-div{
    display: flex;
    align-items: center;
    padding: 2px 0 2px 0rem;
}

.organisation{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: rgb(112 112 112);
    margin: 0.5rem 1rem;
}



.price span{
  margin-left:4px;
}



/* hover effects */
#navbar ul li:hover{
    color: black;
}


#link-1:hover{
    text-decoration: underline;
}

#right-items a:hover{
    text-decoration: underline;
}